<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utamobilevendingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CardDetails"></activity>
        <activity android:name=".UserOrder" />
        <activity android:name=".LocationScreen" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".OperatorOrderDetails"/>
        <activity android:name=".ManagerOrderDetails" />
        <activity android:name=".users.UserOrderDetails" />
        <activity
            android:name=".HomeScreens.ManagerHomeScreen"
            android:label="@string/title_activity_manager_home_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HomeScreens.UserHomeScreen"
            android:label="@string/title_activity_user_home_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HomeScreens.OperatorHomeScreen"
            android:label="@string/title_activity_vendor_home_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".OperatorDetails" />
        <activity android:name=".OrderDetails" />
        <activity android:name=".OrderSummary" />
        <activity android:name=".OrderConfirmation" />
        <activity android:name=".VehicleScreen" />
        <activity android:name=".VehicleDetailsScreen" />
        <activity android:name=".VehicleInventoryScreen" />
        <activity android:name=".OperatorScheduleList" />
        <activity android:name=".OperatorOrderDetails" />
        <activity android:name=".OperatorSchedule" />
        <activity android:name=".OperatorList" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateLocationSchedule" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>